$primary_color: #fe2b5b;$secondary_color: #000000;$third_color: #06118e;$el_color: #06118e;$link_color: #fe2b5b;$link_color_hover: #b51937;$link_color_active: #b51937;
                $body_default_font: Muli;
            
                $heading_default_font: Poppins;
            